# Virtual environment
.venv/
bertopic/bertopic-env/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Environment variables (secrets)
.env

# Data files 
data/
bertopic/cache/
bertopic/notebooks/
keyword_search/
# lda_topic_modelling/

# macOS
.DS_Store

# VSCode — remove this line if you want to share settings with your team
.vscode/